* {
  box-sizing: border-box;
}

/* Grid */

ul{
  margin: 80px;
  /*width: 400px;
  height: 400px;*/
}

li {
  width: 415px;
  height: 280px;
  border: 2px solid black;
  list-style: none;
  float: left;


  /*padding: 100px;*/
}

.active {
  background-color: red;
}
