* {
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', cursive;
}

h1{
  text-align:center;
}
/* Grid */

ul{
  margin: 0 auto;
  padding: 0;
}

li {
  width: 96px;
  height: 96px;
  border: 2px solid black;
  list-style: none;
  float: left;
  margin: 2px;
}

.timer, .score-board {
  text-align: center;
  font-size: 50px;
  padding: 20px;
}


.start-button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  text-align: center;
}

.mole {
  background-image: url("http://is4.mzstatic.com/image/thumb/Purple62/v4/c4/c5/c6/c4c5c6ad-1c22-5316-bd22-e0797b155884/source/512x512bb.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.mole-1 {
  background-image: url(../images/kim_k.jpg);
}

.mole-2 {
  background: yellow;
}

.missed {
  color: red;
}
