* {
  box-sizing: border-box;
  /* cursor: url("images/cursor.png"); */
}

body {
  font-family: 'Press Start 2P', cursive;
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 25%, #B5FFFC 100%);
  background-repeat: no-repeat;
}

main {
  margin: 50px;
}

h1 {
  text-align: center;
  color: pink;
  clear: both;
  margin-top: 50px;
}

h2 {
  color: white;
}
/* Grid */

ul {
  margin: 0 auto;
  padding: 0;
}

li {
  width: 96px;
  height: 96px;
  border: 2px solid black;
  list-style: none;
  float: left;
  margin: 2px;
  border-radius: 50px;
}

.timer {
  font-size: 20px;
  padding: 20px;
  top: 0;
  left: 0;
  position: absolute;
}
.score-board {
  font-size: 20px;
  padding: 20px;
  top: 0;
  right: 0;
  position: absolute;
}

.buttons{
  text-align: center;
}

.start-button, .character-button {
  background: none;
  border: 3px solid white;
  border-radius: 50px;
  display: inline-block;
  font-family: inherit;
  font-size: 15px;
  padding: 20px;
  vertical-align: middle;
}


.select-doll {
  text-align: center;
  padding-right: 50px;
}

.selected {
  border: 2px solid dodgerblue;
  box-shadow: 8px 0 25px 0 paleturquoise;
}

.doll {
  background-repeat: no-repeat;
  background-size: contain;
}

.missed {
  color: red;
}

img {
  height: 250px;
  width: 250px;
}

.choose-characters {
  padding: 100px;
}

.game-over{
  clear:both;
  font-size: 60px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
}

.levels {
  font-size: 30px;
  margin: 50px;
  text-align: center;
}
